ul {
  list-style-type: none;
  margin: 0 0 10px;
  padding: 0px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.searchform {
  margin: 0 0 10px;
}

.weatherapp {
  border: 1px solid #b2b2b2;
  padding: 20px;
  margin: 30px auto;
  max-width: 900px;
  border-radius: 10px;
}

.weathericon {
  font-size: 70px;
  text-align: left;
  top: -20px;
  position: relative;
}

.maintemperature {
  font-size: 70px;
  text-align: left;
  top: -20px;
  position: relative;
}

.units {
  position: relative;
  top: -57px;
}

.dayheading {
  font-size: 25px;
  font-weight: 400;
}

.daytemperature {
  font-size: 55px;
}
